.modal {
  position: relative;
  z-index: 10;

  width: 420px;

  overflow: hidden;
}

.modal:hover {
  box-shadow:
          0 32px 80px rgba(0, 0, 0, 0.5),
          inset 0 1px 4px rgba(255, 255, 255, 0.35);
}

@media (max-width: 600px) {
  .modal {
    width: 90vw;
  }
}

.content {
  position: relative;
  z-index: 2;

  padding: 32px;
}

@media (max-width: 600px) {
  .content {
    padding: 24px;
  }
}
