.project {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.projectList {
    display: flex;
    flex-direction: column;
    gap: 12px;


    width: 100%;
}

.projectItem {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    gap: 12px;

    padding: 12px 14px 24px;

    cursor: pointer;
}

.projectItemActive {
    border: 2px solid rgba(37, 99, 235, 0.8);
    box-shadow: 0 8px 32px rgba(37, 99, 235, 0.09);
}

.projectItemFields {
    display: flex;
    flex-direction: column;
    gap: 16px;
    grid-column: span 2;
    grid-row: 2 / 3;
}

.mainButton {
    color: black;
    font-size: 18px;
    flex: 1;
}


.actions {
    display: flex;
    flex-shrink: 0;
}

.iconButton {
    width: auto;
}

.color {
    width: 20px;
    height: 20px;
}